// some asciidoc settings
//

:caution-caption: Achtung
:important-caption: Wichtig
:note-caption: Hinweis
:tip-caption: Tip
:warning-caption: Warnung

:appendix-caption: Anhang
:example-caption: Beispiel
:figure-caption: Abbildung
:table-caption: Tabelle

// enable table-of-contents
:toc:

// the toc-title attribute has no effect...
// although asciidoc userguide says otherwise...
// see http://discuss.asciidoctor.org/toc-title-Attribute-has-no-effect-td1787.html

:toc-title: Inhaltsverzeichnis


// where are images located?
:imagesdir: ./images
