// asciidoc settings for DE (German)
// ==================================
// toc-title definition MUST follow document title without blank line!
:toc-title: Inhaltsverzeichnis

// enable table-of-contents
:toc:

:caution-caption: Achtung
:important-caption: Wichtig
:note-caption: Hinweis
:tip-caption: Tip
:warning-caption: Warnung

:appendix-caption: Anhang
:example-caption: Beispiel
:figure-caption: Abbildung
:table-caption: Tabelle

// where are images located?
:imagesdir: ./images
