// some asciidoc settings
//

:caution-caption: Achtung
:important-caption: Wichtig
:note-caption: Hinweis
:tip-caption: Tip
:warning-caption: Warnung

:appendix-caption: Anhang
:example-caption: Beispiel
:figure-caption: Abbildung
:table-caption: Tabelle

// the toc-title has no effect...
:toc-title: Inhaltsverzeichnis

// where are images located?
:imagesdir: ./images
